


/* Consultas frecuentes */

.consultasFrecuentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;

    .consultasFrecuentes__div {
        flex-grow: 1;
        padding: 30px;
        margin: 20px;
        background-color: #a3a3a3;
        color: #181818;
        width: 500px;
        box-shadow: 0 0 15px #202020;
        border-radius: 7px;

        h3 {
            padding: 20px 0;
            font-size: 21px;
            font-weight: 700;
        }
    }
}