


/* contacto */

    .sectionDatosContacto__datos {
        background-color:#083B46;
        list-style-type: none;
        color: white;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 50px 0 0;
        }
    
    .sectionDatosContacto__mapa, .sectionDatosContacto__datos {
        width: 100vw;
        height: 80vh;
    } 




         /* formulario */

#h3Contacto {
    font-weight: 600;
    font-size: 30px;
    background-color: #083b46;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 75px 0px 40px;
    width: 100vw;
}

input, textarea {
    padding: 10px;
    margin: 15px 0;
}

#labelAreaDeConsulta {
    margin: 10px 5px 0;
    font-size: 19px;
}


