

/* Pie de pagina */

footer {
    background-image: linear-gradient($colorPagina, #011922);
    padding: 20px;
    width: 100vw;

    .pieDePagina {
        text-align: center;
        color: white;
        line-height: 3;
        padding: 20px;
    
        .pieDePagina__h3 {
            a {
                color:white;
                text-decoration: underline;
            }
        }

    
        .pieDePagina__iconos {
            font-size: 18px;
    
            img {
                width: 20px;
                margin: 5px;
            }

            a {
                color: rgb(255, 255, 255);
                text-decoration: none;

            }
        }
    }
}


