

/* Pie de pagina */

footer {
    background-image: linear-gradient($colorPagina, #011922);
    margin-top: 20px;
    padding: 20px;

    .pieDePagina {
        text-align: center;
        color: white;
        font-family: montserrat;
        line-height: 2;
        padding: 20px;
    
        .pieDePagina__h3 {
            a {
                color:white;
                text-decoration: underline;
            }
        }
        p {
            margin-bottom: 15px;
            }
    
        .pieDePagina__iconos {
            padding: 15 0px;
            font-size: 18px;
    
            img {
                width: 20px;
                margin: 5px;
            }

            a {
                color: white;
                text-decoration: none;
                padding: 30px;
            }
        }
    }
}


