/* ---ENCABEZADO--- */
    
        .nav-item {
            /* ítems del menú */
            padding: 10px;
        
            .nav-link {
                /* formato de los links */
                font-size: 21px;
                font-weight: 500;
            }
        } 


