


/* Inicio */


    /* "MCM Abogada María Cristina Marcelo" */
    #tituloIndex {
        font-size: 13px;
        padding-top: 10px;
        color: white;
        text-align: center;
        background-image: url(../img/fotoinicio.jpeg);
        background-size: cover;
        height: 300px;
        background-position: center;
        margin: 30px 0;

        h1 { 
            /* el "MCM" más grande */
            font-size: 40px;
            color: white;
        }
    }
    /* container de las 3 cajas */
    .mainInicio {
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0;

        /* Cada caja */
        .mainInicio__div {
            background-color: $colorPagina;
            padding: 20px;
            margin: 20px 40px;
            text-align: center;
            margin: 10px;
            flex-grow: 2;

            h3 {
            text-align: center;
            padding: 20px;
            font-size: 25px;
            }
        }
    }

        /* seccion aparte de novedades juridicas */

    .btn {
        border: 1px solid;
        font-weight: 400;
        font-size: 23px;
        margin: 15px 200px;
        padding: 7px 10px;
        transition: transform 0.4s;
    }

    .btn:hover {
        transform: scale(1.05, 1.05);
        border: 2px solid $colorPagina;
        color: $colorPagina;
    }


    #collapseExample {
        text-align: center;
        margin: 20px 30px 30px;
    }