/* Pantalla de escritorio */



@media (min-width:1024px) {

    h1 {
        font-size: 55px;
    }
    
        /* ENCABEZADO */

    .nav-link { // links de los items
        transition: all 0.3s;
    }

        .navbar-nav {
        margin-left: auto;
        }

        /* tamaño del menú al pasar el mouse */
        .nav-link:hover {
        font-size: 22px;
        }
    
    
    
    /* INDEX (INICIO) */

    #tituloIndex {
        padding: 180px;
        height: 800px;
    }
    
        /* el "MCM" más grande */
        #tituloIndex h1 { 
            margin: 24px;
            font-size: 100px;
            font-weight: 700;
            }
        
            .mainInicio {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
            
                    .mainInicio__div {
                    padding: 30px;
                    margin: 20px 40px;
                    width: 300px;
                    height: 550px;
                    }
                }

            .btn {
                width: 70%;
                margin: 10px 15%;
                border-radius: 0;
            }

            #collapseExample {
                margin: 20px 30px 30px;
            }
    
            /* SOBRE NOSOTROS */
            
            .mainSobreNosotros {
                flex-wrap: nowrap;
            }
    
            .mainSobreNosotros__video {
                order: -1;
            }
        
            /* Áreas */
    
            .areasAreas {
                margin: 50px;

                .areasAreas__div {
                    margin: 30px;
                    box-shadow: 0 0 13px #555555;
                    }
                }
    
            .tablaAreas {
                margin: 80px;
            }
    
    
        /* CONTACTO */
    
        .sectionDatosContacto__mapa, .sectionDatosContacto__datos {
            width: 100vw;
            height: 80vh;
        }
    
        .sectionDatosContacto__datos {
            padding: 30px;
            font-size: 21px;
        }
    
        /* PIE DE PAGINA */
    

        footer {
            padding: 40px;
        }
    
        .pieDePagina__iconos {
            padding: 30px;
            display: inline;
        }
        

    
    }